.main {
    &__section {
        position: relative;
        width: 100%;
        height: 90vh;
        &-two {
            position: relative;
            height: 70vh;
        }
    }
    &__image-one {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &__image-two {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #00000082;
    }
    &__content {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__about {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
    }
    &__description {
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 20px;
    }
    &__link {
        display: inline-block;
        background-color: yellow;
        padding: 15px 50px;
        border-radius: 12px;
        color: #000000;
    }
    &__article {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 100%;
    }
    &__article-image {
        display: block;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    &__article-text {
        max-width: 500px;
        padding: 0 10px;
        margin: 0 auto;
    }
    &__list {
        max-width: 500px;
        text-align: left;
    }
    &__item {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 20px;
    }
    &__quote {
        position: relative;
        text-align: center;
        color: #ffffff;
        z-index: 2;
    }
    &__quote-text {
        max-width: 640px;
        line-height: 30px;
    }
    &__author {
        font-size: 20px;
    }
}
